@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  overflow-x: hidden;
}
.blurred-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust the color and opacity as needed */
  backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  z-index: 0;
  border-radius: inherit; /* Ensure the border radius matches the parent */
}
